<!DOCTYPE html>
<html>
<head>
    <title>Gerenciador de Tarefas</title>
</head>
<body>
    <h1>Gerenciador de Tarefas</h1>
    <form action="/adicionar" method="post">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br>
        <label for="data_termino">Data de Término:</label>
        <input type="date" id="data_termino" name="data_termino" required><br>
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Pendente">Pendente</option>
            <option value="Em Andamento">Em Andamento</option>
            <option value="Concluída">Concluída</option>
        </select><br>
        <button type="submit">Adicionar Tarefa</button>
    </form>

    <h2>Tarefas:</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Data de Término</th>
            <th>Status</th>
        </tr>
        {% for tarefa in tarefas %}
        <tr>
            <td>{{ tarefa[0] }}</td>
            <td>{{ tarefa[1] }}</td>
            <td>{{ tarefa[2] }}</td>
            <td>{{ tarefa[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <link href=style.css>
</body>
</html>
